@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Lobster&display=swap');
body{
    background-image: url(https://www.ikea.com/es/es/images/products/vinter-2021-bola-arbol-navidad-rojo__0888658_pe782115_s5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#app{
    height: 1000px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    border: 15px ridge crimson;
    background-color: black;
}
.clock{
    color:white;
    border: 15px outset white;
    margin: 10px;
    font-family: 'Gwendolyn', cursive;
    
    
}
.center{
    font-size:4em;
    background-color: black;
}
.center1{
    display: flex;
    justify-content: center;
    color:gold;
    font-family: 'Gwendolyn', cursive;
    font-size:4em;
    margin-top: 50px;
}
p{
    --animate-duration: 5s;
}